.cv-header-stack {

   margin-bottom: 0.3125em;

   > * {
      margin: 0;
      line-height: 1;
      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }

   [class*="icon-"] { font-size: 2em; }

}

.no-js .cv-header-stack {
   h1 { font-size: 2em !important; }
   h2 { font-size: 1.75em !important; }
   h3 { font-size: 1.5em !important; }
   h4 { font-size: 1.25em !important; }
   h5 { font-size: 1em !important; }
   h6 { font-size: 0.75em !important; }
}