[class*="cv-split-"],
[class*="cv-split-"] > * {
   box-sizing: border-box;
   position: relative;
}

[class*="cv-split-"] {
   margin-bottom: 0 !important;
   padding: 0 !important;

   /* Spacing x 1 */
   &.spacing-1 > * { margin-bottom: $spacing_1; }

   /* Spacing x 2 */
   &.spacing-2 > * { margin-bottom: $spacing_2; }

   /* Spacing x 3 */
   &.spacing-3 > * { margin-bottom: $spacing_2; }

   /* Spacing x 4 */
   &.spacing-4 > * { margin-bottom: $spacing_2; }

}

ul[class*="cv-split-"] {
   list-style: none;
}

[class*="cv-split-"] > * {
   display: block;
   width: 100%;
}

/* Hide extraneous columns */
.cv-split-2        > * + * + *,
.cv-split-13-23    > * + * + *,
.cv-split-23-13    > * + * + *,
.cv-split-25-35    > * + * + *,
.cv-split-35-25    > * + * + *,
.cv-split-34-14    > * + * + *,
.cv-split-14-34    > * + * + *,
.cv-split-3        > * + * + * + *,
.cv-split-12-14-14 > * + * + * + *,
.cv-split-14-12-14 > * + * + * + *,
.cv-split-14-14-12 > * + * + * + *,
.cv-split-4        > * + * + * + * + *,
.cv-split-5        > * + * + * + * + * + *,
.cv-split-6        > * + * + * + * + * + * + * {
   display: none;
}

/* Full size styles */
@mixin activate-split-full-size {
   &[class*="spacing-"] > * {
      margin-bottom: 0 !important;
   }
   &.v-align-columns {
      display: table !important;
      table-layout: fixed !important;
      width: 100% !important;
      > * {
         float: none !important;
         vertical-align: middle !important;
         display: table-cell !important;
         margin: {
            left: 0 !important;
            right: 0 !important;
         }
      }
   }
   &.v-dividers > * {
      &:after {
         position: absolute;
         top: 0;
         height: 100%;
         width: 1px;
         content: ".";
         color: rgba(0,0,0,0);
      }
      html:not([dir="rtl"]) & {
         &:after { left: 0; }
         &:first-child:after {
            display: none;
         }
      }
      html[dir="rtl"] & {
         &:after { right: 0; }
         &:last-child:after {
            display: none;
         }
      }
   }
}

/* Vertically aligned columns wrapper */
@media #{$breakpoint_1} {
   .v-align-columns-wrapper {
      &.spacing-1 {
         margin: {
            left:  -$spacing_1/2;
            right: -$spacing_1/2;
         }
      }
      &.spacing-2 {
         margin: {
            left:  -$spacing_2/2;
            right: -$spacing_2/2;
         }
      }
      &.spacing-3 {
         margin: {
            left:  -$spacing_3/2;
            right: -$spacing_3/2;
         }
      }
      &.spacing-4 {
         margin: {
            left:  -$spacing_4/2;
            right: -$spacing_4/2;
         }
      }
      > .v-align-columns {
         margin-left: 0 !important;
         margin-right: 0 !important;
      }
   }
}

/* Offstep 1, all splits set to 50%
 * =========================================== */

@media #{$breakpoint_1} {

   [class*="cv-split-"] {

      /* Spacing x 1 */
      &.spacing-1 {

         margin: {
            left:  -$spacing_1/2;
            right: -$spacing_1/2;
         }

         & > * {
            padding: {
               left:  $spacing_1/2;
               right: $spacing_1/2;
            }
         }

      }

      /* Spacing x 2 */
      &.spacing-2 {

         margin: {
            left:  -$spacing_2/2;
            right: -$spacing_2/2;
         }

         & > * {
            padding: {
               left:  $spacing_2/2;
               right: $spacing_2/2;
            }
         }

      }

      /* Spacing x 3 */
      &.spacing-3 {

         margin: {
            left:  -$spacing_3/2;
            right: -$spacing_3/2;
         }

         & > * {
            padding: {
               left:  $spacing_3/2;
               right: $spacing_3/2;
            }
         }

      }

      /* Spacing x 4 */
      &.spacing-4 {

         margin: {
            left:  -$spacing_4/2;
            right: -$spacing_4/2;
         }

         & > * {
            padding: {
               left:  $spacing_4/2;
               right: $spacing_4/2;
            }
         }

      }

      /* All elements set to 50% */
      html:not([dir="rtl"]) & {

         & > * {
            float: left;
            width: 50%;
            margin-right: -100%;
         }
         & > *:nth-child(odd) {
            margin-left: 0;
            clear: left;
         }
         & > *:nth-child(even) {
            margin-left: 50%;
         }
         &[class*="spacing-"] > *:last-child:nth-child(odd) {
            margin-left: 25%;
         }

      }

      /* RTL Languages */
      html[dir="rtl"] & {

         & > * {
            float: right;
            width: 50%;
            margin-left: -100%;
         }
         & > *:nth-child(odd) {
            margin-right: 0;
            clear: right;
         }
         & > *:nth-child(even) {
            margin-right: 50%;
         }
         &[class*="spacing-"] > *:last-child:nth-child(odd) {
            margin-right: 25%;
         }

      }

      /* On splits with odd number of children
         that do not have spacing, set last child
         to 100% width to fill container */
      &:not([class*="spacing-"]) > *:last-child:nth-child(odd) {
         width: 100%;
      }

   }

   /* Activate full size split styling */
   .cv-split-2 { @include activate-split-full-size; }

   /* == 2/5 - 3/5 Split == */

   .cv-split-25-35 > * {

      &:nth-child(1) { width: 40% !important; }
      &:nth-child(2) { width: 60% !important; }

      /* LTR */
      html:not([dir="rtl"]) &:nth-child(2) { margin-left: 40% !important; }

      /* RTL */
      html[dir="rtl"] &:nth-child(2) { margin-right: 40% !important; }

   }

   /* Activate full size split styling */
   .cv-split-25-35 { @include activate-split-full-size; }

   /* == 3/5 - 2/5 Split == */

   .cv-split-35-25 > * {

      &:nth-child(1) { width: 60% !important; }
      &:nth-child(2) { width: 40% !important; }

      /* LTR */
      html:not([dir="rtl"]) &:nth-child(2) { margin-left: 60% !important; }

      /* RTL */
      html[dir="rtl"] &:nth-child(2) { margin-right: 60% !important; }

   }

   /* Activate full size split styling */
   .cv-split-35-25 { @include activate-split-full-size; }

   /* == 1/3 - 2/3 Split == */

   .cv-split-13-23 > * {

      &:nth-child(1) { width: 33.33% !important; }
      &:nth-child(2) { width: 66.66% !important; }

      /* LTR */
      html:not([dir="rtl"]) &:nth-child(2) { margin-left: 33.33% !important; }

      /* RTL */
      html[dir="rtl"] &:nth-child(2) { margin-right: 33.33% !important; }

   }

   /* Activate full size split styling */
   .cv-split-13-23 { @include activate-split-full-size; }

   /* == 2/3 - 1/3 Split == */

   .cv-split-23-13 > * {

      &:nth-child(1) { width: 66.66% !important; }
      &:nth-child(2) { width: 33.33% !important; }

      /* LTR */
      html:not([dir="rtl"]) &:nth-child(2) { margin-left: 66.66% !important; }

      /* RTL */
      html[dir="rtl"] &:nth-child(2) { margin-right: 66.66% !important; }

   }

   /* Activate full size split styling */
   .cv-split-23-13 { @include activate-split-full-size; }

   /* == 1/4 - 3/4 Split == */

   .cv-split-14-34 > * {

      &:nth-child(1) { width: 25% !important; }
      &:nth-child(2) { width: 75% !important; }

      /* LTR */
      html:not([dir="rtl"]) &:nth-child(2) { margin-left: 25% !important; }

      /* RTL */
      html[dir="rtl"] &:nth-child(2) { margin-right: 25% !important; }

   }

   /* Activate full size split styling */
   .cv-split-14-34 { @include activate-split-full-size; }

   /* == 3/4 - 1/4 Split == */

   .cv-split-34-14 > * {

      &:nth-child(1) { width: 75% !important; }
      &:nth-child(2) { width: 25% !important; }

      /* LTR */
      html:not([dir="rtl"]) &:nth-child(2) { margin-left: 75% !important; }

      /* RTL */
      html[dir="rtl"] &:nth-child(2) { margin-right: 75% !important; }

   }

   /* Activate full size split styling */
   .cv-split-34-14 { @include activate-split-full-size; }

}

/* General Tablet size
 * =========================================== */

@media #{$breakpoint_2} {

   [class*="cv-split-"] > *:nth-child(odd) {
      clear: none !important;
   }

   /* == 3 Even Split == */

   .cv-split-3 > * {

      width: 33.33% !important;

      /* LTR */
      html:not([dir="rtl"]) & {
         &:nth-child(2) { margin-left: 33.33% !important; }
         &:nth-child(3) { margin-left: 66.66% !important; }
      }

      /* RTL */
      html[dir="rtl"] & {
         &:nth-child(2) { margin-right: 33.33% !important; }
         &:nth-child(3) { margin-right: 66.66% !important; }
      }

   }

   /* Activate full size split styling */
   .cv-split-3 { @include activate-split-full-size; }

   /* == 1/4 - 1/4 - 1/2 Split == */

   .cv-split-14-14-12 > * {

      &:nth-child(1) { width: 25% !important; }
      &:nth-child(2) { width: 25% !important; }
      &:nth-child(3) { width: 50% !important; }

      /* LTR */
      html:not([dir="rtl"]) & {
         &:nth-child(2) { margin-left: 25% !important; }
         &:nth-child(3) { margin-left: 50% !important; }
      }

      /* RTL */
      html[dir="rtl"] & {
         &:nth-child(2) { margin-right: 25% !important; }
         &:nth-child(3) { margin-right: 50% !important; }
      }

   }

   /* Activate full size split styling */
   .cv-split-14-14-12 { @include activate-split-full-size; }

   /* == 1/4 - 1/2 - 1/4 Split == */

   .cv-split-14-12-14 > * {

      &:nth-child(1) { width: 25% !important; }
      &:nth-child(2) { width: 50% !important; }
      &:nth-child(3) { width: 25% !important; }

      /* LTR */
      html:not([dir="rtl"]) & {
         &:nth-child(2) { margin-left: 25% !important; }
         &:nth-child(3) { margin-left: 75% !important; }
      }

      /* RTL */
      html[dir="rtl"] & {
         &:nth-child(2) { margin-right: 25% !important; }
         &:nth-child(3) { margin-right: 75% !important; }
      }

   }

   /* Activate full size split styling */
   .cv-split-14-12-14 { @include activate-split-full-size; }

   /* == 1/2 - 1/4 - 1/4 Split == */

   .cv-split-12-14-14 > * {

      &:nth-child(1) { width: 50% !important; }
      &:nth-child(2) { width: 25% !important; }
      &:nth-child(3) { width: 25% !important; }

      /* LTR */
      html:not([dir="rtl"]) & {
         &:nth-child(2) { margin-left: 50% !important; }
         &:nth-child(3) { margin-left: 75% !important; }
      }

      /* RTL */
      html[dir="rtl"] & {
         &:nth-child(2) { margin-right: 50% !important; }
         &:nth-child(3) { margin-right: 75% !important; }
      }

   }

   /* Activate full size split styling */
   .cv-split-12-12-14 { @include activate-split-full-size; }

   /* == 4 Even Split == */

   .cv-split-4 > * {

      width: 25% !important;

      /* LTR */
      html:not([dir="rtl"]) & {
         &:nth-child(2) { margin-left: 25% !important; }
         &:nth-child(3) { margin-left: 50% !important; }
         &:nth-child(4) { margin-left: 75% !important; }
      }

      /* RTL */
      html[dir="rtl"] & {
         &:nth-child(2) { margin-right: 25% !important; }
         &:nth-child(3) { margin-right: 50% !important; }
         &:nth-child(4) { margin-right: 75% !important; }
      }

   }

   /* Activate full size split styling */
   .cv-split-4 { @include activate-split-full-size; }

   /* == 5 & 6 Even Split forced to 33.33% ==  */

   .cv-split-5 > *,
   .cv-split-6 > * {

      width: 33.33% !important;

      /* LTR */
      html:not([dir="rtl"]) & {

         &:nth-child(2) { margin-left: 33.33%; }
         &:nth-child(3) { margin-left: 66.66%; }
         &:nth-child(4) { margin-left: 0%; clear: left; }
         &:nth-child(5) { margin-left: 33.33%; }
         &:nth-child(6) { margin-left: 66.66%; }

      }

      /* RTL */
      html[dir="rtl"] & {

         &:nth-child(2) { margin-right: 33.33%; }
         &:nth-child(3) { margin-right: 66.66%; }
         &:nth-child(4) { margin-right: 0%; clear: right; }
         &:nth-child(5) { margin-right: 33.33%; }
         &:nth-child(6) { margin-right: 66.66%; }

      }

   }

   /* Special alignment is applied to 5 column layouts */
   .cv-split-5 {

      &:not([class*="spacing-"]) > * {
         &:nth-child(4),
         &:nth-child(5) {
            width: 50% !important;
         }
      }

      html:not([dir="rtl"]) & {

         &[class*="spacing-"] > * {
            &:nth-child(4) { margin-left: 16.665% !important; }
            &:nth-child(5) { margin-left: 49.995% !important; }
         }

         &:not([class*="spacing-"]) > *:nth-child(5) {
            margin-left: 50%;
         }

      }

      html[dir="rtl"] & {

         &[class*="spacing-"] > * {
            &:nth-child(4) { margin-right: 16.665% !important; }
            &:nth-child(5) { margin-right: 49.995% !important; }
         }

         &:not([class*="spacing-"]) > *:nth-child(5) {
            margin-right: 50%;
         }

      }

   }

}

/* Final offset, 5 & 6 Even splits = Full width
 * =========================================== */

@media #{$breakpoint_3} {

   /* == 5 Even Split == */

   .cv-split-5[class*="spacing-"] > *,
   .cv-split-5:not([class*="spacing-"]) > * {

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) { width: 20% !important; clear: none !important; }

      /* LTR */
      html:not([dir="rtl"]) & {
         &:nth-child(2) { margin-left: 20% !important; }
         &:nth-child(3) { margin-left: 40% !important; }
         &:nth-child(4) { margin-left: 60% !important; }
         &:nth-child(5) { margin-left: 80% !important; }
      }

      /* RTL */
      html[dir="rtl"] & {
         &:nth-child(2) { margin-right: 20% !important; }
         &:nth-child(3) { margin-right: 40% !important; }
         &:nth-child(4) { margin-right: 60% !important; }
         &:nth-child(5) { margin-right: 80% !important; }
      }

   }

   /* Activate full size split styling */
   .cv-split-5 { @include activate-split-full-size; }

   /* == 6 Even Split == */

   .cv-split-6[class*="spacing-"] > *,
   .cv-split-6:not([class*="spacing-"]) > * {

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) { width: 16.667% !important; clear: none !important; }

      /* LTR */
      html:not([dir="rtl"]) & {
         &:nth-child(2) { margin-left: 16.667% !important; }
         &:nth-child(3) { margin-left: 33.334% !important; }
         &:nth-child(4) { margin-left: 50.001% !important; }
         &:nth-child(5) { margin-left: 66.668% !important; }
         &:nth-child(6) { margin-left: 83.335% !important; }
      }

      /* RTL */
      html[dir="rtl"] & {
         &:nth-child(2) { margin-right: 16.667% !important; }
         &:nth-child(3) { margin-right: 33.334% !important; }
         &:nth-child(4) { margin-right: 50.001% !important; }
         &:nth-child(5) { margin-right: 66.668% !important; }
         &:nth-child(6) { margin-right: 83.335% !important; }
      }

   }

   /* Activate full size split styling */
   .cv-split-6 { @include activate-split-full-size; }

}

/* Special `not-responsive` styling
 * =========================================== */

[class*="cv-split-"].not-responsive {

   /* Spacing x 1 */
   &.spacing-1 {

      margin: {
         left:  -$spacing_1/2;
         right: -$spacing_1/2;
      }

      & > * {
         padding: {
            left:  $spacing_1/2;
            right: $spacing_1/2;
         }
      }

   }

   /* Spacing x 2 */
   &.spacing-2 {

      margin: {
         left:  -$spacing_2/2;
         right: -$spacing_2/2;
      }

      & > * {
         padding: {
            left:  $spacing_2/2;
            right: $spacing_2/2;
         }
      }

   }

   /* Spacing x 3 */
   &.spacing-2 {

      margin: {
         left:  -$spacing_3/2;
         right: -$spacing_3/2;
      }

      & > * {
         padding: {
            left:  $spacing_3/2;
            right: $spacing_3/2;
         }
      }

   }

   /* Spacing x 4 */
   &.spacing-2 {

      margin: {
         left:  -$spacing_4/2;
         right: -$spacing_4/2;
      }

      & > * {
         padding: {
            left:  $spacing_4/2;
            right: $spacing_4/2;
         }
      }

   }

   /* LTR Languages */
   html:not([dir="rtl"]) & > * {
      float: left;
      margin-right: -100%;
   }

   /* RTL Languages */
   html[dir="rtl"] & > * {
      float: right;
      margin-left: -100%;
   }

   /* Activate full size split styling */
   @include activate-split-full-size;

}

/* Remove any potential clears */
[class*="cv-split-"].not-responsive > *:nth-child(odd) {
   clear: none !important;
}

/* == 2 Even Split == */

.cv-split-2.not-responsive > * {

   width: 50% !important;

   /* LTR */
   html:not([dir="rtl"]) & {
      &:nth-child(2) { margin-left: 50% !important; }
   }

   /* RTL */
   html[dir="rtl"] & {
      &:nth-child(2) { margin-right: 50% !important; }
   }

}

/* == 2/5 - 3/5 Split == */

.cv-split-25-35.not-responsive > * {

   &:nth-child(1) { width: 40% !important; }
   &:nth-child(2) { width: 60% !important; }

   /* LTR */
   html:not([dir="rtl"]) &:nth-child(2) { margin-left: 40% !important; }

   /* RTL */
   html[dir="rtl"] &:nth-child(2) { margin-right: 40% !important; }

}

/* == 3/5 - 2/5 Split == */

.cv-split-35-25.not-responsive > * {

   &:nth-child(1) { width: 60% !important; }
   &:nth-child(2) { width: 40% !important; }

   /* LTR */
   html:not([dir="rtl"]) &:nth-child(2) { margin-left: 60% !important; }

   /* RTL */
   html[dir="rtl"] &:nth-child(2) { margin-right: 60% !important; }

}

/* == 1/3 - 2/3 Split == */

.cv-split-13-23.not-responsive > * {

   &:nth-child(1) { width: 33.33% !important; }
   &:nth-child(2) { width: 66.66% !important; }

   /* LTR */
   html:not([dir="rtl"]) &:nth-child(2) { margin-left: 33.33% !important; }

   /* RTL */
   html[dir="rtl"] &:nth-child(2) { margin-right: 33.33% !important; }

}

/* == 2/3 - 1/3 Split == */

.cv-split-23-13.not-responsive > * {

   &:nth-child(1) { width: 66.66% !important; }
   &:nth-child(2) { width: 33.33% !important; }

   /* LTR */
   html:not([dir="rtl"]) &:nth-child(2) { margin-left: 66.66% !important; }

   /* RTL */
   html[dir="rtl"] &:nth-child(2) { margin-right: 66.66% !important; }

}

/* == 3 Even Split == */

.cv-split-3.not-responsive > * {

   width: 33.33% !important;

   /* LTR */
   html:not([dir="rtl"]) & {
      &:nth-child(2) { margin-left: 33.33% !important; }
      &:nth-child(3) { margin-left: 66.66% !important; }
   }

   /* RTL */
   html[dir="rtl"] & {
      &:nth-child(2) { margin-right: 33.33% !important; }
      &:nth-child(3) { margin-right: 66.66% !important; }
   }

}

   /* == 1/4 - 3/4 Split == */

   .cv-split-14-34.not-responsive > * {

      &:nth-child(1) { width: 25% !important; }
      &:nth-child(2) { width: 75% !important; }

      /* LTR */
      html:not([dir="rtl"]) &:nth-child(2) { margin-left: 25% !important; }

      /* RTL */
      html[dir="rtl"] &:nth-child(2) { margin-right: 25% !important; }

   }

   /* == 3/4 - 1/4 Split == */

   .cv-split-34-14.not-responsive > * {

      &:nth-child(1) { width: 75% !important; }
      &:nth-child(2) { width: 25% !important; }

      /* LTR */
      html:not([dir="rtl"]) &:nth-child(2) { margin-left: 75% !important; }

      /* RTL */
      html[dir="rtl"] &:nth-child(2) { margin-right: 75% !important; }

   }

/* == 1/4 - 1/4 - 1/2 Split == */

.cv-split-14-14-12.not-responsive > * {

   &:nth-child(1) { width: 25% !important; }
   &:nth-child(2) { width: 25% !important; }
   &:nth-child(3) { width: 50% !important; }

   /* LTR */
   html:not([dir="rtl"]) & {
      &:nth-child(2) { margin-left: 25% !important; }
      &:nth-child(3) { margin-left: 50% !important; }
   }

   /* RTL */
   html[dir="rtl"] & {
      &:nth-child(2) { margin-right: 25% !important; }
      &:nth-child(3) { margin-right: 50% !important; }
   }

}

/* == 1/4 - 1/2 - 1/4 Split == */

.cv-split-14-12-14.not-responsive > * {

   &:nth-child(1) { width: 25% !important; }
   &:nth-child(2) { width: 50% !important; }
   &:nth-child(3) { width: 25% !important; }

   /* LTR */
   html:not([dir="rtl"]) & {
      &:nth-child(2) { margin-left: 25% !important; }
      &:nth-child(3) { margin-left: 75% !important; }
   }

   /* RTL */
   html[dir="rtl"] & {
      &:nth-child(2) { margin-right: 25% !important; }
      &:nth-child(3) { margin-right: 75% !important; }
   }

}

/* == 1/2 - 1/4 - 1/4 Split == */

.cv-split-12-14-14.not-responsive > * {

   &:nth-child(1) { width: 50% !important; }
   &:nth-child(2) { width: 25% !important; }
   &:nth-child(3) { width: 25% !important; }

   /* LTR */
   html:not([dir="rtl"]) & {
      &:nth-child(2) { margin-left: 50% !important; }
      &:nth-child(3) { margin-left: 75% !important; }
   }

   /* RTL */
   html[dir="rtl"] & {
      &:nth-child(2) { margin-right: 50% !important; }
      &:nth-child(3) { margin-right: 75% !important; }
   }

}

/* == 4 Even Split == */

.cv-split-4.not-responsive > * {

   width: 25% !important;

   /* LTR */
   html:not([dir="rtl"]) & {
      &:nth-child(2) { margin-left: 25% !important; }
      &:nth-child(3) { margin-left: 50% !important; }
      &:nth-child(4) { margin-left: 75% !important; }
   }

   /* RTL */
   html[dir="rtl"] & {
      &:nth-child(2) { margin-right: 25% !important; }
      &:nth-child(3) { margin-right: 50% !important; }
      &:nth-child(4) { margin-right: 75% !important; }
   }

}

/* == 5 Even Split == */

.cv-split-5.not-responsive[class*="spacing-"] > *,
.cv-split-5.not-responsive:not([class*="spacing-"]) > * {

   &:nth-child(1),
   &:nth-child(2),
   &:nth-child(3),
   &:nth-child(4),
   &:nth-child(5) { width: 20% !important; clear: none !important; }

   /* LTR */
   html:not([dir="rtl"]) & {
      &:nth-child(2) { margin-left: 20% !important; }
      &:nth-child(3) { margin-left: 40% !important; }
      &:nth-child(4) { margin-left: 60% !important; }
      &:nth-child(5) { margin-left: 80% !important; }
   }

   /* RTL */
   html[dir="rtl"] & {
      &:nth-child(2) { margin-right: 20% !important; }
      &:nth-child(3) { margin-right: 40% !important; }
      &:nth-child(4) { margin-right: 60% !important; }
      &:nth-child(5) { margin-right: 80% !important; }
   }

}

/* == 6 Even Split == */

.cv-split-6.not-responsive[class*="spacing-"] > *,
.cv-split-6.not-responsive:not([class*="spacing-"]) > * {

   &:nth-child(1),
   &:nth-child(2),
   &:nth-child(3),
   &:nth-child(4),
   &:nth-child(5),
   &:nth-child(6) { width: 16.667% !important; clear: none !important; }

   /* LTR */
   html:not([dir="rtl"]) & {
      &:nth-child(2) { margin-left: 16.667% !important; }
      &:nth-child(3) { margin-left: 33.334% !important; }
      &:nth-child(4) { margin-left: 50.001% !important; }
      &:nth-child(5) { margin-left: 66.668% !important; }
      &:nth-child(6) { margin-left: 83.335% !important; }
   }

   /* RTL */
   html[dir="rtl"] & {
      &:nth-child(2) { margin-right: 16.667% !important; }
      &:nth-child(3) { margin-right: 33.334% !important; }
      &:nth-child(4) { margin-right: 50.001% !important; }
      &:nth-child(5) { margin-right: 66.668% !important; }
      &:nth-child(6) { margin-right: 83.335% !important; }
   }

}